* {
    box-sizing: border-box;
}

body {

}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: auto;
}

.cell {
    flex: 0 0 calc(100% / 16);
    aspect-ratio: 1 / 1;
    background-color: red;
}

.hover {
    background-color: pink;
}
